<!DOCTYPE html>
<html ng-app="menu">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/index.css" />

        <title>Menu</title>


        <script>
            function onLoad() {
                document.addEventListener("deviceready", email, false);
            };

            function email() {
                var bodyEmail = "";

                function getBodyEmail(){
                    for(var key in productInCart){
                        bodyEmail += productInCart[key].name + "\t\n" + productInCart[key].piece + "<br />";
                    }
                    return bodyEmail;
                };

                window.plugin.email.open({
                    to: ["imoonserk@gmail.com"], // email addresses for TO field
                    cc: ["moonserk@yandex.com"], // email addresses for CC field
                    bcc: ["moonserk@yandex.com"], // email addresses for BCC field
                    subject: "menu", // subject of the email
                    body: getBodyEmail(), // email body (could be HTML code, in this case set isHtml to true)
                    isHtml: true // indicats if the body is HTML or plain text
                });
            };
        </script>

    </head>
    <body onload="onLoad()" ng-controller="MenuCtrl as menu">

    <!-- ********************       Navbar            ************************* -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="img-cart">
                    <a class="navbar-brand" href="#/" ng-click="menu.selectTab(0)">Меню</a>
                    <a href="#/cart">
                        <img  src="img/logo.png" href="#/cart" ng-click="menu.selectTab(4)" width=36px />
                    </a>
                    {{menu.getOrders()}}
                </div>
            </div>
            <section class="navbar-collapse collapse" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/view" ng-click="menu.selectCategory(1)">Первые блюда</a>
                    </li>
                    <li>
                        <a href="#/view" ng-click="menu.selectCategory(2)">Вторые блюда</a>
                    </li>
                    <li>
                        <a href="#/view" ng-click="menu.selectCategory(3)">Напитки</a>
                    </li>

                    <li>
                        <a href="#/cart" ng-click="menu.selectCategory(4)">Корзина</a>
                    </li>
                    <li>
                        <a ng-click="navigator.app.exitApp()">Выход</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

    <!-- ******************************************************************** -->

        <div class="app-body">

            <div ng-view></div>

        </div>

        <!-- Libs -->
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="lib/angular/angular.js"></script>
        <script type="text/javascript" src="lib/angular/angular-route.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap/bootstrap.js"></script>

        <!-- App -->
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>

        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
